
# Day 12 API deployment
api_image_tag                = "day12-REPLACE_WITH_UNIQUE_TAG"
api_artifact_prefix          = "runtime/api"
api_desired_count            = 1
api_cpu                      = 1024
api_memory                   = 2048
api_enable_container_insights = false

# For a private demo, replace 0.0.0.0/0 with your current public IPv4 /32.
api_ingress_cidrs = ["0.0.0.0/0"]
